name: "Nix build"
on:
  workflow_dispatch:
  pull_request:
  push:
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: DeterminateSystems/nix-installer-action@v20
    - run: nix flake check --accept-flake-config -Lv ./tests
